{% extends 'shared/base.html' %}

{% block content %}
<h1>Employees</h1>
{% if user.is_authenticated %}
<h3><a href="{% url 'hrapp:employee_form' %}">Add Employee</a></h3>
{% endif %}
<ol>
    {% for employee in employees %}
    <li>
        <p><a href="{% url 'hrapp:employee' employee.id %}">{{ employee }}</a></p>
        <p>Department: {{employee.department}} {% if employee.is_supervisor == 1%} - <em>(Supervisor)</em> {% endif %}
        </p>
        <p>Current computer: {{employee.computer.make}}</p>
    </li>
    {% endfor %}
</ol>
{% endblock content %}